{% extends "generic/base.html" %}

{% block title %}Book Details{% endblock title %}
{% block content %}
{% load staticfiles %}
<div class="book_detail">
    {% load staticfiles %}
    <h2>{{ book.title }}</h2>
<img src="{{book.cover_image.url}}" height="300">
  <ul>
    <li>{{ book.year}}</li>
    <li>Author: {{ book.author }}</li>
    <li>Description: {{ book.detail }}</li>
    <li>Status: ({{ book.status }})</li>
    <li>Date Added: {{ book.date_added }}</li>
    <li>Last Borrowed: {{ book.last_borrowed }}</li>
    </ul>
</div>
{% endblock content %}
